{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add certificate
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2>Add Profile</h2>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="addCertificate">
            <div class="form-group col-xs-8">
                <label for="isin">ISIN</label>
                <input type="text" class="form-control" id="isin" placeholder="Enter ISIN">
            </div>
            <div class="form-group col-xs-8">
                <label for="lastName">Trading Market</label>
                <input type="text" class="form-control" id="trading_market" placeholder="Enter trading market">
            </div>
            <div class="form-group col-xs-8">
                <label for="street">Issuer</label>
                <input type="text" class="form-control" id="issuer" placeholder="Enter Issuer">
            </div>
            <div class="form-group col-xs-8">
                <label for="currencuy">Currency</label>
                <input type="text" class="form-control" id="currency" placeholder="Enter Currency">
            </div>
            <div class="form-group col-xs-8">
                <label for="issuing_price">Issuing Price</label>
                <input type="number" step="any" class="form-control" id="issuing_price" placeholder="Enter issuing price">
            </div>
            <div class="form-group col-xs-8">
                <label for="current_price">Current Price</label>
                <input type="number" step="any" class="form-control" id="current_price" placeholder="Enter current price">
            </div>
            <div class="form-group col-xs-8">
                <label for="barrier_level">Barrier Level</label>
                <input type="number" step="any" class="form-control" id="barrier_level" placeholder="Must be a number" aria-describedby="barrier"">
                <large id="barrier" class="form-text text-muted">If you enter barrier level than certificate will be considered as bonus</large>

            </div>
            <div class="form-group col-xs-8">
                <label for="Participation_rate">Participation Rate</label>
                <input type="number" step="any" class="form-control" id="participation_rate" aria-describedby="parti" placeholder="Must be a number">
                <large id="parti" class="form-text text-muted">If you enter Participate rate than certificate will be considered as querentee</large>
            </div>
            <div class="form-group col-xs-8">
                <div class="form-group col-xs-5">
                    <label for="document_type">Document Type</label>
                    <input type="text" class="form-control" id="document_type" placeholder="Enter document type">
                </div>
                <div class="col-xs-3">
                    <label for="picture">Related Document</label>
                    <input type="file" id="document">
                </div>
            </div>
            <div class="form-group col-xs-8 form-end">
                <button type="button" class="btn btn-success" onclick="addProfile()">Add Certificate</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
