{% extends "base.html.twig" %}
{% block title %}
{{ parent() }}
Certificate as html
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<h2>Certificate Details</h2>
<div id="parent" class="col-xs-12">
    <div class="form-group col-xs-8">
        <label>ISIN</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getIsin() }}</span><br>
        <label>Trading Market</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getTradingMarket() }}</span><br>
        <label>Issuer</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getIssuer() }}</span><br>
        <label>Currency</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getCurrency() }}</span><br>
        {% if certificate.getBarrierLevel() %}
        <label>Barrier Level</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getBarrierLevel() }}</span><br>
        {% endif %}
        {% if certificate.getParticipationRate() %}
            <label>Participation Rate</label>:&nbsp&nbsp&nbsp
            <span>{{ certificate.getParticipationRate() }}</span><br>
        {% endif %}
        <label>Certificate Type</label>:&nbsp&nbsp&nbsp
        <span>{{ certificate.getCertificateType() }}</span><br>
        <strong>Price Updates</strong><br>
        {% for price in certificate.getPriceHistories %}
        <div style="border-top : thin solid #0000FF;margin-bottom:10px;padding-left: 20px;">
            <label>Issuing Price</label>:&nbsp&nbsp&nbsp
            <span>{{ price.getIssuingPrice() }}</span><br>
            <label>Current Price</label>:&nbsp&nbsp&nbsp
            <span>{{ price.getCurrentPrice() }}</span><br>
            <label>Price Time</label>:&nbsp&nbsp&nbsp
            <span>{{ price.getPriceDateTime()|date('Y-m-d H:i:m:s') }}</span><br>
        </div>
        {% endfor %}
        <strong>Documents Details</strong><br>
        {% for document in certificate.getCertificateDocuments %}
        <div style="border-top : thin solid #0000FF;margin-bottom:10px;padding-left: 20px;">
            <label>Type</label>:&nbsp&nbsp&nbsp
            <span>{{ document.getDocumentType() }}</span><br>
            <label>Name</label>:&nbsp&nbsp&nbsp
            <span>{{ document.getName() }}</span><br>
            <label>Url</label>:&nbsp&nbsp&nbsp
            <span>{{ app.request.getSchemeAndHttpHost() }}/{{ document.getPath() }}</span><br>
            <label>Created At</label>:&nbsp&nbsp&nbsp
            <span>{{ document.getCreatedAt()|date('Y-m-d H:i:m:s') }}</span><br>
        </div>
        {% endfor %}
    </div>
</div>
{% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
