<certificate>
    <isin>{{ certificate.isin }}</isin>
    <trading_market>{{ certificate.getTradingMarket() }}</trading_market>
    <issuer>{{ certificate.issuer }}</issuer>
    <currency>{{ certificate.getCurrency }}</currency>
    <certificate_type>{{ certificate.getCertificateType() }}</certificate_type>
    {% if certificate.getBarrierLevel() %}
        <barrier_level>{{ certificate.getBarrierLevel() }}</barrier_level>
    {% endif  %}
    {% if certificate.getParticipationRate() %}
        <participation_rate>{{ certificate.getParticipationRate() }}</participation_rate>
    {% endif %}
    <price_updates>
    {% for price in certificate.getPriceHistories %}
        <prices>
            <issuing_price>{{ price.getIssuingPrice() }}</issuing_price>
            <current_price>{{ price.getCurrentPrice() }}</current_price>
            <price_time>{{ price.getPriceDateTime()|date('Y-m-d H:i:m:s') }}</price_time>
        </prices>
    {% endfor %}
    </price_updates>
    <documents_details>
    {% for document in certificate.getCertificateDocuments %}
        <document>
            <type>{{ document.getDocumentType() }}</type>
            <name>{{ document.getName() }}</name>
            <url>{{ app.request.getSchemeAndHttpHost() }}/{{ document.getPath() }}</url>
            <created_at>{{ document.getCreatedAt()|date('Y-m-d H:i:m:s') }}</created_at>
        </document>
    {% endfor %}
    </documents_details>
</certificate>

