{% extends "base.html.twig" %}
{% block title %}
{{ parent() }}
Manage certificates
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<h2>Certificate Details</h2>
    <div class="col-xs-12 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ISIN</th>
                <th scope="col">Barrier Level</th>
                <th scope="col">Participation Rate</th>
                <th scope="col">Certificate Type</th>
                <th scope="col">Add Price</th>
                <th scope="col">Add Document</th>
                <th scope="col">Remove</th>
                <th scope="col">View As XML</th>
                <th scope="col">View As HTML</th>
            </tr>
            </thead>
            <tbody>
            {% for certificate in certificates %}
                <tr id="{{ certificate.getId() }}">
                    <td>
                        <span>{{ certificate.getIsin() }}</span>
                    </td>
                    <td>
                        <span>{{ certificate.getBarrierLevel() }}</span>
                    </td>
                    <td>
                        <span>{{ certificate.getParticipationRate() }}</span>
                    </td>
                    <td>
                        <span>{{ certificate.getCertificateType() }}</span>
                    </td>
                    <td>
                        <button type="button" data-id="{{ certificate.getId() }}" class="btn btn-primary" data-toggle="modal" data-target="#addPrices">
                            Add Prices
                        </button>
                    </td>
                    <td>
                        <button type="button" data-id="{{ certificate.getId() }}" class="btn btn-primary" data-toggle="modal" data-target="#addDocument">
                            Add Document
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="removeCertificate({{ certificate.getId() }})">Remove</button>
                    </td>
                    <td>
                        <a href="/certificates/display.xml?id={{ certificate.getId() }}" target="_blank">XML View</a>
                    </td>
                    <td>
                        <a href="/certificates/display.html?id={{ certificate.getId() }}" target="_blank">HTML View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="addPrices" tabindex="-1" role="dialog" aria-labelledby="addPrices" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Add Prices</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="certificate_id" value="1">
                    <form enctype="multipart/form-data" id="addPrices">
                        <div class="form-group">
                            <label for="issuing_price">Issuing Price</label>
                            <input type="text" class="form-control" id="issuing_price" placeholder="Enter issuing price">
                        </div>
                        <div class="form-group">
                            <label for="current_price">Current Price</label>
                            <input type="text" class="form-control" id="current_price" placeholder="Enter current price">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="addPrices();" class="btn btn-primary">Save Prices</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDocument" tabindex="-1" role="dialog" aria-labelledby="addDocument" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Add Document</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="document_certificate_id" value="1">
                    <form enctype="multipart/form-data" id="addDocuments">
                        <div class="col-xs-8  form-end">
                            <label for="attachement">Related Document</label>
                            <input type="file" id="document">
                        </div>
                        <div class="form-group">
                            <label for="document_type">Document Type</label>
                            <input type="text" class="form-control" id="document_type" placeholder="Enter document type">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="addDocuments();" class="btn btn-primary">Save Document</button>
                </div>
            </div>
        </div>
    </div>


{% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
