{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Main Menu
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2>Main Menu</h2>
    <div id="parent" class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"><a href="/certificates">Add Certificate</a></li>
            <li class="list-group-item"><a href="/certificates/manage">Manage Certificates</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
